@using System.Reflection;
@using System.Linq.Expressions;
@model string?

<div class="form-group">
    <label asp-for="@Model"></label>
    <input type="search" class="form-control" asp-for="@Model" />
</div>