@using System.Reflection;
@using System.Linq.Expressions;
@model bool?

<div class="form-group">
    <label asp-for="@Model"></label>
    <select class="form-control" asp-for="@Model">
        <option value="">Not Set</option>
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
</div>