@using System.Reflection;
@using System.Linq.Expressions;
@model SearchParameters

<div class="row">
    <div class="col-md-4">
        <editor for="Query" template-name="Search_Text" />
        <editor for="IsArchived" template-name="Search_Boolean" />
        <editor for="State" />
        <editor for="MultiState" template-name="Search_UserStateOption" />
        <editor for="Paging!.Size" template-name="Search_Size" />
        @Html.HiddenFor(m => m!.SortBy!.Name)
        @Html.HiddenFor(m => m!.SortBy!.Direction)
    </div>
</div>
